<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Alunos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link th:href="@{'/css/' + ${css} + '.css'}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header th:insert="~{navbar.html :: nav}"></header>
     <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(50, 50, 61);">
            <div class="container">
                <div class="navbar-brand mx-auto">
                    <img th:src="@{/img/980x389.png}" width="1180" height="389" alt="">
                </div>
            </div>
        </nav>
    <div class="container">
            <div class="row mt-5">
                <div class="col-sm-12">
                    <h1 class="mb-2 text-left text-primary">
Lista de Alunos</h1>
    <p>Esses são todos os seus alunos:</p>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${alunos}">
                <td th:text="${aluno.id}"></td>
                <td th:text="${aluno.nome}"></td>
                <td th:text="${aluno.cpf}"></td>
                <td th:text="${aluno.email}"></td>
                <td th:text="${aluno.endereco}"></td>
                <td>
                    <a th:href="@{'/editar-aluno/' + ${aluno.id}}">
                        <button class="btn btn-primary">Editar Informações do Aluno</button>
                    </a>
                    <form th:action="@{'/alunos/deletar/' + ${aluno.id}}" method="post">
                        <button type="submit" class="btn btn-danger">Deletar</button>
                    </form>
                    <a th:href="@{'/editar-exercicio/' + ${aluno.id}}">
                        <button class="btn btn-info">Editar Exercícios</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
                </div>
            </div>
        </div>
    
                      <div style="margin-bottom: 100px;"></div>


           <footer class="bg-dark text-light text-left py-0 fixed-bottom w-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <p class="small">&copy; 2023. Todos os direitos reservados.</p>
                    </div>
                    <div class="col-md-3">
                        <p class="small">Informe suas preferências para o site</p>
                    </div>
                    <div class="col-md-3">
                        <form th:action="@{/preferencias}" method="POST">
                            <div class="form-group">
                                <label class="small" for="selEstilo">Seu esquema de cores favorito</label>
                            </div>
                    </div><!-- comment -->
                            <div class="col-md-3">
                                <select class="form-control" name="estilo" id="selEstilo">
                                    <option value="claro">Tema Claro</option>
                                    <option value="escuro">Tema Escuro</option>
                                </select>                            
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="OK" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
